{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "endOfLine": "lf"
}
